
<h1>Post a New Article</h1>

<form method="POST" action="/articles">

  <h3>Title:</h3>
  <input type="text" name="title">
  <br><br>
  <h3>Content:</h3>
  <textarea name="content" rows="10" cols="50"></textarea>
  <input type="submit" name="Submit" value="Submit">

</form>